<div class="container cart-container">
  <div class="columns is-centered">
    <div class="column is-14">
      <div class="box">
        <h1 class="title is-3">Your Cart</h1>
        
        <% if @cart.line_items.any? %>
          <div class="cart-items">
            <% @cart.line_items.each do |line_item| %>
              <div class="cart-item box">
                <div class="columns is-vcentered">
                  <div class="column is-2">
                    <% if line_item.product.image? %>
                      <%= image_tag line_item.product.image.url(:thumb) %>
                    <% end %>
                  </div>
                  
                  <div class="column is-4">
                    <h3 class="title is-5"><%= line_item.product.title %></h3>
                    <p class="subtitle is-6">by <%= line_item.product.user.name %></p>
                  </div>
                  
                  <div class="column is-2">
                    <%= number_to_currency(line_item.product.price) %>
                  </div>
                  
                  <div class="column is-2">
                    <div class="field has-addons">
                      <%= form_with(model: line_item, local: true) do |f| %>
                        <div class="control">
                          <%= f.number_field :quantity, 
                              class: "input is-small", 
                              min: 1,
                              value: line_item.quantity,
                              onchange: 'this.form.submit()' %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="column is-1">
                    <%= button_to line_item_path(line_item), 
                        method: :delete,
                        class: "button is-danger is-small",
                        data: { 
                          confirm: "Are you sure?",
                          turbo: false
                        } do %>
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            
            <div class="cart-summary box">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <h3 class="title is-4">Total: <%= number_to_currency(@cart.total_price) %></h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="cart-actions is-flex is-justify-content-space-between">
              <div class="buttons">
                <%= link_to 'Continue Shopping', root_path, class: 'button is-light' %>
                <%= button_to 'Empty Cart', 
                    cart_path(@cart), 
                    method: :delete,
                    class: 'button is-danger is-outlined',
                    data: { 
                      confirm: 'Are you sure?',
                      turbo: false
                    } %>
              </div>
              
              <div class="checkout-actions">
                <%= link_to mpesa_checkout_path, 
                    class: "button is-primary is-medium", 
                    data: { turbo: false } do %>
                  <span class="icon">
                    <i class="fas fa-credit-card"></i>
                  </span>
                  <span>Proceed to Checkout</span>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="empty-cart-container">
            <p class="is-size-4 mb-4">Your cart is empty</p>
            <%= link_to 'Start Shopping', root_path, class: 'button is-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 