<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body class="<%= yield (:body_class) %>">
    <div class="toast-container position-fixed">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="notification <%= name == "notice" ? "is-success" : "is-danger" %> global-notification toast" 
               id="<%= name %>-toast">
            <p class="<%= name %>"><%= msg %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  
     <nav class="navbar is-warning" role="navigation" aria-label="main navigation mb-[-10px]">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-4 has-text-black">Shop</h1>
        <% end  %>
      <div class="navbar-burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">

            <% if user_signed_in? %>
              <%= link_to new_product_path, class: "button is-primary is-outlined" do %>
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Sell</span>
              <% end %>

              <% if user_signed_in? && @cart %>
                <%= link_to cart_path(@cart), class: "button is-light" do %>
                  <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </span>
                  <% if @cart.line_items.count > 0 %>
                    <span class="cart-count">
                      <%= @cart.line_items.sum(:quantity) %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>

              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to edit_user_registration_path, class: "button is-light" do %>
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>Account</span>
                <% end %>
                <div class="navbar-dropdown is-right is-boxed">
                  <%= link_to edit_user_registration_path, class:"navbar-item" do %>
                    <span class="icon"><i class="fas fa-user-circle"></i></span>
                    <span><%= current_user.name %></span>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item has-text-danger" do %>
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span>Log Out</span>
                  <% end %>
                </div>
              </div>
            <% else %>

            <%= link_to new_user_session_path, class:"button is-primary is-outlined" do %>
              <span class="icon">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span>Sign In</span>
            <% end %>
            <%= link_to new_user_registration_path, class:"button is-primary" do %>
              <span class="icon">
                <i class="fas fa-user-plus"></i>
              </span>
              <span>Sign up</span>
            <% end %>

            <% end %>

            </div>
          </div>
        </div>
    </div>
  </nav>
  <%= yield(:header) %>
  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
